body {
    font-family:         Arial, Helvetica, sans-serif;
    font-size:           11px;
    margin:              0;
}
.layer {
    width:  200px;
    height: 200px;
    position:            absolute;
    border:              2px solid #444;
    background-image:    url("../icons/bg.jpg");
    background-size:     100% 100%;
    background-repeat:   no-repeat;
}
.box {
    position:     absolute;
    text-align:   center;
}
.box_inner {
    width:        150px;
    min-height:   50px;
    padding:      5px;
    box-shadow:   5px 5px 8px rgba(0,0,0,0.5);
    text-align:   left;
}
.man {
    background: rgb( 205, 164, 118); /*lightblue;*/
}
.woman {
    background: rgb( 239, 223, 207); /*pink;*/
}
.line {
    position:       absolute;
    top:            0;
    left:           0;
    width:          100%;
    height:         100%;
    pointer-events: none;
}
.dotted {
    border:       1px dotted #ccc;
}
.solid {
    border:       1px solid black;
}
