.layer {
    position: absolute;
    border: 2px solid #444;
}
.box {
    position:     absolute;
    width:        150px;
    min-height:   50px;
    padding:      5px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size:    11px;
    border:       1px solid black;
    background: lightblue;
    box-shadow:   5px 5px 8px rgba(0,0,0,0.5);
}
.man {
    background: lightblue;
}
.woman {
    background: pink;
}
.line {
    position:       absolute;
    top:            0;
    left:           0;
    width:          100%;
    height:         100%;
    pointer-events: none;
}
